{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
.my-grid {
    border: 1px;
    row-gap: 1px;
    column-gap: 7px;
}

.my-grid-item {
    border: 1px;
    column-gap: 3px;
}
</style>
<div class="container">
    <div class="my-grid d-flex flex-row justify-content-center">
        <div class="my-grid d-flex flex-column mt-3">
            <h3 class="my-grid-item d-flex justify-content-center m-auto">
                Create new post
            </h3>
            <p class="my-grid-item m-auto">
                <form action="." method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p class="my-grid-item d-flex justify-content-center m-auto mt-3">
                        {{form.text}}
                    </p>
                    <h6 class="my-grid-item d-flex justify-content-start m-auto mt-2">
                        Select a picture from computer (optional): </h6>
                    <p class="my-grid-item d-flex justify-content-start m-auto mt-2">
                        {{form.post_image}}
                    </p>
                    {{form.author}}
                    <p class="my-grid-item d-flex justify-content-center m-auto mt-3">
                        <button type="submit" class="btn btn-dark">Create new post</button>
                    </p>
                </form>
            </p>
        </div>
    </div>
</div>
{% endblock content %}