{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'bootstrap/js/jquery-3.6.0.min.js' %}"></script>
<style type="text/css">
.my-grid {
    border: 1px;
  /* border-style: solid;
    border-color: red;  */
    row-gap: 0;
    column-gap: 10px;
}

.my-gridbc {
    border: 1px;
    border-style: solid;
    border-color: #CFC8D1;
    background-color: white;
}

.my-grid-item {
    border: 1px;
    /* border-style: solid;
    border-color: black; */
    column-gap: 3px;
}

.material-icons-outlined.md-18 {
    font-size: 18px;
}

.material-icons-outlined.md-24 {
    font-size: 24px;
}

.material-icons-outlined.md-36 {
    font-size: 36px;
}

.material-icons.red600 {
    color: #B80C04;
}

.center {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.center2 {
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.center3 {
    margin: 0px 0px 30px 0px;
    padding: 0px;
}

.trimText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

p.c {
    word-break: break-all;
}

.sidebar {
    display: flex;
    position: fixed;
}
</style>
<div class="container">
    <div class="my-grid d-flex flex-row justify-content-between">
        <!-- profile info -->
        <div class="my-grid d-flex flex-column col-3">
            <div class="my-grid d-flex flex-row justify-content-center">
                <div class="sidebar">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <p class="my-grid-item align-items-center m-auto">
                                <a style=" text-decoration:none; color:black;" class="d-flex flex-row" href="{% url 'account:view' user_id=request.user.id %}">
                                    <div class="my-grid-item m-auto">
                                        <img class="img-fluid mx-auto d-block" src="{{user.profile_image.url}}" alt="" width="75">
                                    </div>
                                    <p class="my-grid-item d-flex align-items-center center2"><b>&nbsp{{user.username}}</b></p>
                                </a>
                            </p>
                        </div>
                        <br>
                        <div class="d-flex flex-row">
                            <p class="my-grid-item align-items-center m-auto ">
                                INFO
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- POSTS -->
        <div class="my-grid d-flex flex-column col-5 mt-4">
            {% for post in posts %}
            <p class="my-grid-item m-auto">
                <div class="my-grid my-gridbc d-flex flex-column">
                    <!-- post header -->
                    <div class="my-grid d-flex flex-row justify-content-between align-items-center">
                        <div class="d-flex justify-content-start">
                            <a style=" text-decoration:none; color:black;" class="d-flex flex-row" href="{% url 'account:view' user_id=post.author.id %}">
                                <div class="my-grid-item d-flex align-items-center m-auto">
                                    <img class="img-fluid mx-auto d-block" src="{{post.author.profile_image.url}}" alt="" width="40">
                                </div>
                                <p class="my-grid-item d-flex center2"><b>&nbsp{{post.author.username}}</b></p>
                            </a>
                        </div>
                        <div class="btn-group dropleft">
                            <a href="#" style=" text-decoration:none; color:black;" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="material-icons-outlined">
                                    more_vert
                                </span>
                                <div class="dropdown-menu">
                                    <a style=" text-decoration:none; color:black;" class="dropdown-item" href="{% url 'personal:postdetail' post.pk %}">
                                        Go to post
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% if post.post_image %}
                    <hr style="height:1px;border-width:0;background-color:gray; margin:2px;">
                    <div class="my-grid d-flex flex-row justify-content-between">
                        <!-- post picture -->
                        <div class="my-grid-item m-auto">
                            <img class="img-fluid mx-auto d-block" src="{{post.post_image.url}}" alt="" width="700">
                        </div>
                    </div>
                    <hr style="height:1px;border-width:0;background-color:gray; margin: 2px; ">
                    {% endif %}
                    <!-- post text -->
                    <div class="my-grid d-flex flex-row justify-content-start">
                        <p class="my-grid-item" style="margin-left:10px;"><b>{{post.author.username}}&nbsp</b></p>
                        <p class="c" style="margin-right:10px">{{post.text}}</p>
                    </div>
                    <!-- like & comment icons -->
                    <div class="my-grid d-flex flex-row justify-content-start align-items-center">
                        <form action="{% url 'personal:like-post-view' %}" method="POST" class="like-form" id="{{post.id}}">
                            {% csrf_token %}
                            <p class="my-grid-item center">
                                <button class="like-btn{{post.id}}" type="submit" name="post_id" value="{{ post.id }}" style=" font-weight:bold; border-color: transparent; margin-left:2px;  color: #B80C04; background-color: transparent; border-radius:50%">
                                    {% if account not in post.liked.all %}
                                    Like
                                    {% else %}
                                    Unlike
                                    {% endif %}
                                </button>
                            </p>
                        </form>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{post.id}}" aria-expanded="false" aria-controls="collapseExample{{post.id}}" style=" font-weight:bold; border-color: transparent; color: black; background-color: transparent; margin-left:1px;   box-shadow: none; ">
                            Comments
                        </button>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-between">
                        <p class="my-grid-item like-count{{post.id}}" style="margin-left:10px"> <b> {{post.num_likes}} likes</b></p>
                    </div>
                    <!-- post comments -->
                    <div class="collapse" id="collapseExample{{post.id}}">
                        <div class="card card-body">
                            {% if not post.comments.all %}
                            No comments yet.
                            {% else %}
                            {% for comment in post.comments.all %}
                            <div class="my-grid d-flex flex-column">
                                <div><a style=" text-decoration:none; color:black;" href="{% url 'account:view' user_id=comment.author.id %}"><b>{{comment.author}}:</b></a> {{comment.body}}
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- post time -->
                    <div class="my-grid d-flex flex-row justify-content-between">
                        <p class="my-grid-item" style="color:#6E6A6A; margin-left:10px ; font-weight: 100;"><small>{{post.date_added}}</small></p>
                    </div>
                </div>
            </p>
            {% endfor %}
        </div>
        <div class="my-grid d-flex flex-column col-3">
            <div class="my-grid d-flex flex-row justify-content-center">
                <div class="sidebar">
                    <div class="d-flex flex-row">
                        <p class="my-grid-item align-items-center m-auto ">
                            <br>
                            <br>
                            <a style="text-decoration:none; color:black" href="{% url 'personal:add-post' %}">
                                <button type="button" class="btn btn-dark">Create new post</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- home style 
    <div class="my-grid d-flex flex-row justify-content-between">
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item <span class="material-icons">account_circle</span></p> 
        <p class="my-grid-item m-auto">Item <img src="{% static 'images/default_pfp.png' %}"></p> 
    </div>
    <div class="my-grid d-flex flex-column mt-3">
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item</p>
        <p class="my-grid-item m-auto">Item</p>
    </div>
</div>-->
    </div>
    <script type="text/javascript">
    $(document).ready(function() {

        $('.like-form').submit(function(e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const likeText = $(`.like-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            let res;
            const likes = $(`.like-count${post_id}`).text()
            const trimCount = parseInt(likes)

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,

                },
                success: function(response) {
                    if (trim == 'Unlike') {
                        $(`.like-btn${post_id}`).text('Like').css({ "font-weight": "bold", "margin-left": "1px" });
                        res = trimCount - 1
                    } else {
                        $(`.like-btn${post_id}`).text('Unlike').css({ "font-weight": "bold", "margin-left": "1px" });
                        res = trimCount + 1
                    }

                    $(`.like-count${post_id}`).text(res + " likes").css({ "font-weight": "bold", "margin-left": "10px" });
                },

                error: function(response) {
                    console.log('error', response)
                },
            })



        })
    });
    </script>
    {% endblock content %}