{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'bootstrap/js/jquery-3.6.0.min.js' %}"></script>
<style type="text/css">
.my-grid {
    border: 1px;

    grid-row-gap: 0px;
    row-gap: 0;
    grid-column-gap: 0px;
}

.my-gridbc {
    border: 1px;
    border-style: solid;
    border-color: #CFC8D1;
    background-color: white;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
}

.my-grid-item {
    border: 1px;

    column-gap: 3px;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
}



.center {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.center2 {
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.center3 {
    margin: 0px 0px 30px 0px;
    padding: 0px;
}

.trimText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

p.c {
    word-break: break-all;
}

.sidebar {
    display: flex;
    position: fixed;
}

.ss {
    overflow-y: scroll;
    height: 325px;
}
}
</style>
<div class="container">
    <div class="my-grid d-flex flex-row justify-content-between">
        <div class="my-grid d-flex  flex-column col-1 mt-4">
        </div>
        <div class="my-gridbc d-inline-flex flex-row">
            <p class="my-grid-item">
                <div class="my-grid d-inline-flex flex-column">
                    <div class="my-grid d-inline-flex flex-column ">
                        <p class="my-grid-item m-auto">
                            {% if post.post_image %}
                            <div class="my-grid d-flex flex-row justify-content-between">
                                <!-- post picture -->
                                <div class="my-grid-item m-auto">
                                    <img class="" src="{{post.post_image.url}}" alt="" width="480px">
                                </div>
                            </div>
                            {% endif %}
                        </p>
                        <p class="my-grid-item m-auto">
                            <!-- post text -->
                            <div class="my-grid d-flex flex-row justify-content-start">
                                <p class="my-grid-item" style="margin-left:10px;"><b>{{post.author.username}}&nbsp</b></p>
                                <p class="c" style="margin-right:10px">{{post.text}}</p>
                            </div>
                        </p>
                    </div>
                </div>
            </p>
            <div style="border-left:1px solid #CFC8D1;height:100%"></div>
            <p class="my-grid-item ">
                <p class="my-grid-item">&nbsp</p>
                <div class="my-grid d-inline-flex flex-column">
                    <div class="my-grid-item d-inline-flex flex-row justify-content-start ">
                        <a style=" text-decoration:none; color:black;" class="d-inline-flex flex-row" href="{% url 'account:view' user_id=request.user.id %}">
                            <img class="img-fluid d-block" src="{{user.profile_image.url}}" alt="" width="75">
                            <p class="my-grid-item d-flex align-items-center center2"><b>&nbsp{{user.username}}</b></p>
                        </a>
                    </div>
                    <hr style="height:1px;border-width:0;background-color:gray; margin:2px;">
                    <!-- comments -->
                    <div class="my-grid d-flex flex-row justify-content-start align-items-center">
                        <p class="my-grid-item m-1" style="font-weight:bold;">
                            Comments
                        </p>
                    </div>
                    <div class="comment-wrapper my-grid-item d-flex flex-column ss" style="width:390px;">
                        {% for comment in post.comments.all %}
                        <div class="my-grid d-flex flex-column">
                            <div><a style=" text-decoration:none; color:black;" href="{% url 'account:view' user_id=comment.author.id %}"><b>{{comment.author}}:</b></a> {{comment.body}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <p class="my-grid-item d-flex justify-content-center m-auto mt-3">
                        <textarea class="form-control comment-text"></textarea>
                        <button type="button" data-post="{{post.id}}" class="btn btn-dark save-comment">Comment</button>
                    </p>
                </div>
            </p>
        </div>
        <div class="my-grid d-flex  flex-column col-1 mt-4">
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {

    $(".save-comment").on('click', function() {
        var _comment = $(".comment-text").val();
        var _postid = $(this).data('post');

        $.ajax({
            url: "{% url 'personal:save-comment' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                comment: _comment,
                post: _postid,
            },
            dataType: 'json',

            beforeSend: function() {
                $(".save-comment").addClass('disabled').text('Saving...');
            },
            
            success: function(res) {
                if (res.bool == true) {
                    $(".comment-text").val('');
                    var _html = '<div class="my-grid d-flex flex-column">\
                                    <div><a style=" text-decoration:none; color:black;" href="#"><b>{{request.user}}: </b></a>' + _comment + '\
                                    </div>\
                                </div>';
                    $(".comment-wrapper").append(_html);
                }
                $(".save-comment").removeClass('disabled').text('Comment');
            },
        });
    });
});
</script>
{% endblock content %}