{% extends 'base.html' %}
{% load static %}
{% block content %}<script src="{% static 'bootstrap/js/jquery-3.6.0.min.js' %}"></script>
<style type="text/css">
.my-grid {
    border: 1px;
    /*border-style: solid;
    border-color: red;*/
    row-gap: 1px;
    column-gap: 3px;
}

.my-gridbc {
    border: 1px;
    border-style: solid;
    border-color: #CFC8D1;
    background-color: white;
}

.my-grid-item {
    border: 1px;
    /* border-style: solid;
    border-color: black;*/
    column-gap: 3px;
}

.center {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.center2 {
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.trimText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

p.c {
    word-break: break-all;
}

.sidebar {
    display: flex;
    position: fixed;
}
</style>
<div class="container">
    <div class="my-grid d-flex flex-row justify-content-between">
        <div class="my-grid d-flex flex-column col-3">
        </div>
        <div class="my-grid d-flex flex-column col-6 mt-4">
            <p class="my-grid-item m-auto">
                <div class="my-grid my-gridbc d-flex flex-column">
                    <!-- post header -->
                    <div class="my-grid d-flex flex-row justify-content-between align-items-center">
                        <div class="d-flex justify-content-start">
                            <a style=" text-decoration:none; color:black;" class="d-flex flex-row" href="{% url 'account:view' user_id=post.author.id %}">
                                <div class="my-grid-item d-flex align-items-center m-auto">
                                    <img class="img-fluid mx-auto d-block" src="{{post.author.profile_image.url}}" alt="" width="40">
                                </div>
                                <p class="my-grid-item d-flex center2"><b>&nbsp{{post.author.username}}</b></p>
                            </a>
                        </div>
                    </div>
                    <hr style="height:1px;border-width:0;background-color:gray; margin:2px;">
                    <div class="my-grid d-flex flex-row justify-content-between">
                        <!-- post picture -->
                        <div class="my-grid-item m-auto">
                            <img class="img-fluid mx-auto d-block" src="{{post.post_image.url}}" alt="" width="702">
                        </div>
                    </div>
                    <hr style="height:1px;border-width:0;background-color:gray; margin: 2px; ">
                    <div class="my-grid d-flex flex-row justify-content-start">
                        <!-- like & comment icons -->
                        <p class="my-grid-item center"><span class="material-icons-outlined">
                                favorite_border
                            </span>
                            <p class="my-grid-item center"><span class="material-icons-outlined">
                                    mode_comment
                                </span> </p>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-start">
                        <!-- post text -->
                        <p class="my-grid-item"><b>{{post.author.username}}&nbsp</b></p>
                        <p class="c">{{post.text}}</p>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-between">
                        <!-- post comments -->
                        <p class="my-grid-item ">post comments</p>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-between">
                        <!-- post time -->
                        <p class="my-grid-item ">post time</p>
                    </div>
                </div>
            </p>
        </div>
         <div class="my-grid d-flex flex-column col-3">
        </div>
    </div>
</div>
{% endblock content %}