{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
.card-signin {
    width: 100%;
    max-width: 550px;
    padding: 15px;
    margin: auto;
}

.card-signin2 {
    width: 100%;
    max-width: 450px;
}

.btn {
    border-radius: 30px;
}

body {
    background-color: white;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>
<div class="container-fluid">
    <br>
    <div class="my-grid d-flex flex-row justify-content-between">
        <p class="my-grid-item m-auto">
            <a href="{% url 'login' %}"><img class="img-fluid mx-auto d-block" src="{% static 'images/logo.png' %}" alt="devzone logo" width="200" height="100"></a>
        </p>
        <p class="my-grid-item m-auto">
            <p></p>
        </p>
        <p class="my-grid-item m-auto">
            <a class="btn btn-outline-dark m-2" href="{% url 'register' %}">Join now</a>
            <a class="btn btn-outline-primary m-2" href="{% url 'login' %}">Sign in</a>
        </p>
    </div>
    <div class="my-grid d-flex flex-row justify-content-between">
        <div class="my-grid-item m-auto">
            <p></p>
        </div>
        <div class="my-grid-item m-auto">
            <div class=" card card-signin border-0">
                <div class="card-body">
                    <style>
                        @import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
                    </style>
                    <p style="color:#671570 ; font-family:'Yantramanav', sans-serif; font-size:48px;"> Welcome to your professional community</p>
                    <div class="card card-signin2 border-0">
                        <form class="form-signin" method="post">{% csrf_token %}
                            <!-- <div class="d-flex flex-column pb-3">
                          <img class="img-fluid mx-auto d-block" src="{% static 'images/logo_transparent.png' %}" alt="devzone logo" width="400" height="400">
                    </div>-->
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            {% for field in login_form %}
                            <p>
                                {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                            {% endfor %}
                            {% if login_form.non_field_errors %}
                            <div style="color: red">
                                <p>{{login_form.non_field_errors}}</p>
                            </div>
                            {% endif %}
                            <div class="text-center">
                                <button class="btn btn-primary btn-lg w-100" type="submit">Sign in</button>
                            </div>
                        </form>
                        <br>
                        <a class="m-auto" href="#">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-grid-item m-auto">
            <img class="img-fluid mx-auto d-block" src="{% static 'images/login_page.png' %}" alt="devzone logo" width="630" height="600">
        </div>
    </div>
</div>
{% endblock content %}