{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'bootstrap/js/jquery-3.6.0.min.js' %}"></script>
<style type="text/css">
.my-grid {
    border: 1px;

    row-gap: 0;
    column-gap: 10px;
} 

.my-gridbc {
    border: 1px;
    border-style: solid;
    border-color: #CFC8D1;
    background-color: white;
}

.my-grid-item {
    border: 1px;

    column-gap: 3px;
}

.material-icons-outlined.md-18 {
    font-size: 18px;
}

.material-icons-outlined.md-24 {
    font-size: 24px;
}

.material-icons-outlined.md-36 {
    font-size: 36px;
}

.material-icons.red600 {
    color: #B80C04;
}

.center {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.center1 {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.center2 {
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.center3 {
    margin: 0px 0px 30px 0px;
    padding: 0px;
}

.trimText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

p.c {
    word-break: break-all;
}

.sidebar {
    display: flex;
    position: fixed;
}

.p-container {
    max-height: 150px;
}

div {
    text-align: justify;
    text-justify: inter-word;
}
</style>
<div class="container">
    <div class="my-grid d-flex flex-row justify-content-center">
        <div class="my-grid d-flex flex-column justify-content-center col-3">
            <div class="image-container mx-auto mb-4">
                <img class="d-block border border-dark rounded-circle img-fluid mx-auto profile-image p-container" alt="default_pfp" id="id_profile_image" src="{% static 'images/default_pfp.png' %}">
            </div>
        </div>
        <div class="my-grid d-flex flex-column justify-content-center col-5">
            <div class="my-grid d-flex flex-row justify-content-start">
                <div class="d-flex flex-row align-items-center center1">
                    <h2 style="font-weight: lighter;"><b>{{account.username}}</b></h2>
                </div>
                {% if request.user.is_authenticated %}
                {% if not is_self %}
                <div class="d-flex flex-row align-items-center btn btn-light m-2 px-4" onclick="createOrReturnPrivateChat('{{id}}')">
                    <a style=" text-decoration:none; color:black; " href="{% url 'directmessage:direct-message-room' %}">
                        <div style="text-align:right;">
                            <span style="float:left" class="material-icons-outlined m-auto">
                                mail
                            </span>
                            <span class="message-btn-text m-auto pl-2 "> &nbsp Message</span>
                        </div>
                    </a>
                </div>
                <div class="d-flex flex-row align-items-center btn btn-light m-2 px-4">
                    <a style=" text-decoration:none; color:black " href="#">
                        <div style="text-align:right;">
                            <span style="float:left" class="material-icons-outlined m-auto">
                                person_add_alt
                            </span>
                            <span class="message-btn-text m-auto pl-2 "> &nbsp Follow</span>
                        </div>
                    </a>
                </div>
                {% else %}
                <div class="d-flex flex-row align-items-center m-2 px-4">
                    <a style="text-decoration:none; color:black" href="{% url 'account:edit-profile' user.id %}">
                        <button type="button" class="btn btn-outline-dark">Edit Profile Info</button>
                    </a>
                </div>
                {% endif %}
                {% endif %}
            </div>
            <div class="my-grid d-flex flex-row">
                <div class="my-grid d-flex flex-column col-10">
                    <div class="my-grid d-flex flex-row justify-content-between">
                        <p><b> {{posts|length}} </b>posts</p>
                        <p><b>10 </b>followers</p>
                        <p><b>22 </b>following</p>
                        <p>&nbsp&nbsp&nbsp</p>
                    </div>
                </div>
            </div>
            <div class="my-grid d-flex flex-row align-items-center ">
                {% if is_self %}
                {{account.email}}
                {% else %}
                {% if hide_email %}
                **********
                {% else %}
                {{account.email}}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- <hr style="color:#8B8585"> -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Posts</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile Info</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="my-grid d-flex flex-row justify-content-center">
                <div class="my-grid d-flex flex-column col-5 mt-4">
                    {% if posts %}
                    {% for post in posts %}
                    <p class="my-grid-item m-auto">
                        <div class="my-grid my-gridbc d-flex flex-column">
                            <!-- post header -->
                            <div class="my-grid d-flex flex-row justify-content-between align-items-center">
                                <div class="d-flex justify-content-start" style="margin-left:10px;">
                                    <a style=" text-decoration:none; color:black;" class="d-flex flex-row" href="{% url 'account:profile-page' user_id=post.author.id %}">
                                        <div class="my-grid-item d-flex align-items-center m-auto">
                                            <img class="img-fluid mx-auto d-block rounded-circle" src="{{post.author.profile_image.url}}" alt="" width="40">
                                        </div>
                                        <p class="my-grid-item d-flex center2"><b>&nbsp{{post.author.username}}</b></p>
                                    </a>
                                </div>
                                {% if is_self %}
                                <div class="btn-group dropleft" style="margin-right:10px;">
                                    <a href="#" style=" text-decoration:none; color:black;" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="material-icons-outlined">
                                            more_horiz
                                        </span>
                                        <div class="dropdown-menu">
                                            <a style=" text-decoration:none; color:black;" class="dropdown-item" href="{% url 'personal:edit-post' post.pk %}">
                                                Edit
                                            </a>
                                            <a style=" text-decoration:none; color:red;" class="dropdown-item" href="{% url 'personal:delete-post' post.pk %}?next={{ request.path|urlencode }}">
                                                Delete
                                            </a>
                                        </div>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                            {% if post.post_image %}
                            <hr style="height:1px;border-width:0;background-color:gray; margin:2px;">
                            <div class="my-grid d-flex flex-row justify-content-between">
                                <!-- post picture -->
                                <div class="my-grid-item m-auto">
                                    <img class="img-fluid mx-auto d-block" src="{{post.post_image.url}}" alt="" width="700">
                                </div>
                            </div>
                            <hr style="height:1px;border-width:0;background-color:gray; margin: 2px; ">
                            {% endif %}
                            <!-- post text -->
                            <div class="my-grid d-flex flex-row justify-content-start">
                                <p class="my-grid-item c" style="margin-left:10px; margin-bottom: 0; margin-right:8px;"><b>{{post.author.username}}&nbsp</b>{{post.text}}</p>
                            </div>
                            <!-- like & comment icons -->
                            <div class="my-grid d-flex flex-row justify-content-start">
                                <div class="my-grid d-flex flex-row" style=" column-gap: 0; margin-bottom: 0; align-items: center;">
                                    <form action="{% url 'personal:like-post-view' %}" method="POST" class="like-form" id="{{post.id}}">
                                        {% csrf_token %}
                                        <button class="like-btn{{post.id}}" type="submit" name="post_id" value="{{post.id}}" style=" font-weight:bold; border-color: transparent; color: #B80C04; margin-bottom: 0; background-color: transparent; border-radius:50%">
                                            {% if request.user not in post.liked.all %}
                                            <span class="material-icons-outlined md-36">
                                                favorite_border
                                            </span>
                                            {% else %}
                                            <span class="material-icons-outlined md-36">
                                                favorite
                                            </span>
                                            {% endif %}
                                        </button>
                                    </form>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{post.id}}" aria-expanded="false" aria-controls="collapseExample{{post.id}}" style=" font-weight:bold; border-color: transparent; margin-bottom: 0; color: black; background-color: transparent;    box-shadow: none; ">
                                        <i class="fas fa-comments fa-2x"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="my-grid d-flex flex-row justify-content-between">
                                <p class="my-grid-item like-count{{post.id}}" style="margin-left:10px; margin-bottom: 5px; margin-top: 0;"> <b> {{post.num_likes}} likes</b></p>
                            </div>
                            <!-- post comments -->
                            <div class="collapse" id="collapseExample{{post.id}}">
                                <div class="comment-wrapper{{post.id}}">
                                    <div class="my-grid-item d-flex flex-column ss">
                                        {% for comment in post.comments.all %}
                                        <div class="my-grid d-flex flex-column" style=" margin-left:10px; margin-bottom: 5px; margin-top: 0; margin-right: 8px;">
                                            <div class="my-grid d-flex flex-row"><a style=" text-decoration:none; color:black;" href="{% url 'account:profile-page' user_id=comment.author.id %}"><b>{{comment.author}}:</b></a>
                                                <div style=" text-align: justify; text-justify: inter-word;  word-break: break-all;">{{comment.body}}</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <p class="my-grid d-flex flex-row justify-content-start align-items-end " style=" column-gap: 0; margin-left:10px; margin-bottom: 5px; margin-top: 0; margin-right: 8px;">
                                    <textarea rows="1" ; class="form-control comment-text{{post.id}}" style="font-size: 14px; " placeholder="Add a comment..."></textarea>
                                    <button type="button" data-post="{{post.id}}" style="display: inline-block; height: 35px;" class="btn btn-dark btn-sm abc save-comment{{post.id}}">Comment</button>
                                </p>
                            </div>
                            <!-- post time -->
                            <div class="my-grid d-flex flex-row justify-content-between">
                                <p class="my-grid-item" style="color:#6E6A6A; margin-left:10px ; font-weight: 100;"><small>{{post.date_added}}</small></p>
                            </div>
                        </div>
                    </p>
                    {% endfor %}
                    {% else %}
                    {% if is_self %}
                    <p class="my-grid-item m-auto">
                        <div class="my-grid d-flex flex-column justify-content-center align-items-center">
                            <h5>You haven't made any posts yet.</h5>
                        </div>
                    </p>
                    {% else %}
                    <p class="my-grid-item m-auto">
                        <div class="my-grid d-flex flex-column justify-content-center align-items-center">
                            <h5>This user has no posts.</h5>
                        </div>
                    </p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="my-grid d-flex flex-row justify-content-center">
                <div class="my-grid d-flex flex-column col-5 mt-4">
                    {% if info.about == None and info.tech_stack == None and info.learning == None and info.hobbies == None and info.music == None and info.tvshows == None and info.movies == None and info.books == None %}
                    {% if is_self %}
                      <p class="my-grid-item m-auto">
                        <div class="my-grid d-flex flex-column justify-content-center align-items-center">
                            <h5>You haven't written your profile yet.</h5>
                        </div>
                    </p>
                    {% else %}
                    <p class="my-grid-item m-auto">
                        <div class="my-grid d-flex flex-column justify-content-center align-items-center">
                            <h5>This user has no info.</h5>
                        </div>
                    </p>
                    {% endif %}
                    {% else %}

                  
                    {% if info.about != None %}
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        <h6>About:</h6>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        {{info.about}}
                    </div>
                    <br>
                    {% endif %}
                    {% if info.tech_stack != None %}
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        <h6>Tech stack:</h6>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        {{info.tech_stack}}
                    </div><br>
                    {% endif %}
                    {% if info.learning != None %}
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        <h6>Learning:</h6>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        {{info.learning}}
                    </div><br>
                    {% endif %}
                    {% if info.hobbies != None %}
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        <h6>Hobbies & Interests:</h6>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        {{info.hobbies}}
                    </div><br>
                    {% endif %}
                    {% if info.music != None %}
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        <h6>Favorite Music:</h6>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        {{info.music}}
                    </div><br>
                    {% endif %}
                    {% if info.tvshows != None %}
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        <h6>Favorite TV Shows:</h6>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        {{info.tvshows}}
                    </div> <br>
                    {% endif %}
                    {% if info.movies != None %}
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        <h6>Favorite Movies:</h6>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        {{info.movies}}
                    </div> <br>
                    {% endif %}
                    {% if info.books != None %}
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        <h6>Favorite Books:</h6>
                    </div>
                    <div class="my-grid d-flex flex-row justify-content-center ">
                        {{info.books}}
                    </div><br>
                    {% endif %}
                      {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
preloadImage("{{profile_image|safe}}", "id_profile_image");


$(document).ready(function() {

    $('.like-form').submit(function(e) {
        e.preventDefault()

        const post_id = $(this).attr('id')

        const likeText = $(`.like-btn${post_id}`).text()
        const trim = $.trim(likeText)

        const url = $(this).attr('action')

        let res;
        const likes = $(`.like-count${post_id}`).text()
        const trimCount = parseInt(likes)

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'post_id': post_id,

            },
            success: function(response) {
                if (trim == 'favorite') {
                    $(`.like-btn${post_id} span`).text('favorite_border').css({ "font-weight": "bold", "margin-left": "1px" });
                    res = trimCount - 1
                } else {
                    $(`.like-btn${post_id} span`).text('favorite').css({ "font-weight": "bold", "margin-left": "1px" });
                    res = trimCount + 1
                }

                $(`.like-count${post_id}`).text(res + " likes").css({ "font-weight": "bold", "margin-left": "10px" });
            },

            error: function(response) {
                console.log('error', response)
            },
        })

    });


    $(".abc").on('click', function() {
        var _postid = $(this).data('post');
        var _comment = $(`.comment-text${_postid}`).val();

        if (_comment.length != 0) {

            $.ajax({
                url: "{% url 'personal:save-comment' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    comment: _comment,
                    post: _postid,
                },
                dataType: 'json',

                beforeSend: function() {
                    $(`.save-comment${_postid}`).addClass('disabled').text('Saving...');
                },

                success: function(res) {
                    if (res.bool == true) {
                        $(`.comment-text${_postid}`).val('');
                        var _html = '<div class="my-grid d-flex flex-column" style=" margin-left:10px; margin-bottom: 5px; margin-top: 0; margin-right:8px;">\                                    <div class="my-grid d-flex flex-row" ><a style=" text-decoration:none; color:black;" href="{% url "account:profile-page" user_id=request.user.id %}"><b>{{request.user}}: </b></a>  <div style=" text-align: justify; text-justify: inter-word;  word-break: break-all;">' + _comment + '</div>\
                                        </div>\
                                    </div>';

                        $(`.comment-wrapper${_postid}`).append(_html);
                    }
                    $(`.save-comment${_postid}`).removeClass('disabled').text('Comment');
                },
            });
        }
    });
});
</script>
{% include 'directmessage/snippets/create_or_return_private_chat.html' %}
{% endblock content %}